@page "/Pedidos"

@inject PedidosService pedidosService
@inject NavigationManager navigationManager
@rendermode InteractiveServer

<PageTitle>Pedidos</PageTitle>
<div class="container">
	<div class="card shadow-lg">
		<div class="card-header d-flex justify-content-between align-items-center">
			<h5><strong>Pedidos</strong></h5>
			<a href="/Pedidos/Opciones/0" class="btn btn-primary">
				<span class="bi bi-plus-square mt-3"></span> Crear
			</a>
		</div>

		<div class="card-body">
			<div class="row align-items-center g-2">

				@*Fecha Inicio*@
				<div class="col-3 col-sm-6 col-md-2">
					<label class="col-form-label"><strong>Desde</strong></label>
					<input type="date" class="form-control" @bind="FechaIncio" />
				</div>

				@*Fecha Fin *@
				<div class="col-4 col-sm-6 col-md-2">
					<label class="col-form-label"><strong>Hasta</strong></label>
					<input type="date" class="form-control" @bind="FechaFin" />
				</div>

				@*Filtrar *@

				<div class="col-2">
					<label class="col-form-label"><strong>Filtrar Por</strong></label>
					<InputSelect class="form-select ms-0" @bind-Value="Filtro">
						<option value="" selected disabled>Seleccione una opci&oacute;n:</option>
						<option value="IdEntrada">IdEntrada</option>
					</InputSelect>
				</div>

				@*Buscar y Restablecer *@
				<div class="col-5">
					<label class="col-form-label"><strong>B&uacute;squeda</strong></label>
					<div class="input-group">
						<input class="form-control" @bind="ValorFiltro" placeholder="Buscar" />
						<button type="button" class="btn btn-outline-primary bi bi-search" @onclick="Buscar"></button>
						<button type="button" class="btn btn-outline-primary bi bi-arrow-counterclockwise" @onclick="Restablecer"></button>
					</div>
				</div>
				@*Tabla*@
				<div class="table-responsive mt-3">
					<table class="table table-hover text-center align-middle">
						<thead class="table table-striped text-black">
							<tr>
								<th>ID</th>
								<th>Cliente</th>
								<th>Fecha</th>
								<th>Monto</th>
								<th>Opciones</th>
							</tr>
						</thead>

						<tbody>
							@foreach (var pedido in ListaPedidos)
							{
								<tr>
									<td>@pedido.PedidoId</td>
									<td>@pedido.ClienteNombre</td>
									<td>@pedido.Fecha.ToString("dd/MM/yyyy")</td>
									<td>@pedido.Total</td>
									<td>
										<a href="/Pedidos/Opciones/@pedido.PedidoId" class="btn btn-outline-dark">
											<span class="bi bi-pencil"></span>
										</a>
									</td>
								</tr>
							}
						</tbody>
					</table>
				</div>
			</div>

			<div class="card-footer">
				<div class="row">
					<label class="ms-3"><strong>Cantidad de pedidos: </strong> @ListaPedidos.Count()</label>
					<label class="ms-5"><strong>Total: </strong>@ListaPedidos.Sum(e => e.Total)</label>
				</div>
			</div>
		</div>
	</div>
</div>

@code {
	private List<Pedidos> ListaPedidos = new List<Pedidos>();
	private DateTime FechaIncio;
	private DateTime FechaFin = DateTime.Now;
	public string Filtro { get; set; } = string.Empty;
    public string ValorFiltro { get; set; } = string.Empty;

    protected override async Task OnInitializedAsync()
    {
        ListaPedidos = await pedidosService.Listar(p => p.PedidoId > 0);
    }

    public async Task Buscar()
    {

    }

    private async Task Restablecer()
    {
        ListaPedidos = await pedidosService.Listar(p => p.PedidoId > 0);
        Filtro = string.Empty;
        ValorFiltro = string.Empty;
        FechaIncio = DateTime.MinValue;
        FechaFin = DateTime.MaxValue;
    }
} 